.button{
    width: 100px;
    height: 25px;
    border: 2px solid #aaaaaa;
    border-radius: 10px;
}

.inner-button{
    position: relative;
    left: 5px;
    top: 9px;
    width: 89px;
    height: 6px;
    border-radius: 30px;
    background-color: red
}

.color-selector{
    position: absolute;
    visibility: hidden;
    width: 200px;
    height: 150px;
    border: 2px solid black;
    background-color: lightgrey;
    border-radius: 20px;
}
