.bk-wg-hue {
    position: absolute;
    width: 20px;
    height: 150px;
    border: 1px solid #aaa;
    cursor: n-resize;
}
.bk-wg-hue-arrs {
    position: absolute;
    left: -8px;
    width: 36px;
    height: 7px;
    top: -7px;
}
.bk-wg-hue-larr {
    position: absolute;
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 7px solid #858585;
}
.bk-wg-hue-rarr {
    position: absolute;
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-right: 7px solid #858585;
    right: 0;
}
