.bk-color-picker-wg {
    border: 2px solid #aaaaaa;
    border-radius: 10px;
}

.bk-color-picker-ctn{
    border: 2px solid black;
    border-radius: 10px;
    background-color: gainsboro;
    display: block;
    position: relative;
    width: 250px;
    height: 200px;
}

.bk-gradient-pnl{
    position: absolute;
}

.bk-hue-sld{
    position: absolute;
    top: 10px;
    left: 160px;
    width: 20px;
    height: 150px;
    border: 1px solid #aaa;
    cursor: n-resize;
}

.bk-hue-sld-arrs{
    position: absolute;
    left: -8px;
    width: 36px;
    height: 7px;
    margin: -7px 0 0 0;
}

.bk-hue-sld-larr{
    position: absolute;
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 7px solid #858585;
}

.bk-hue-sld-rarr{
    position: absolute;
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-right: 7px solid #858585;
    right: 0;
}
